<h1>Log in</h1>

<%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :user %>
      <%= text_field_tag :user, params[:user] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>