<%= form_for(@usersmodel) do |f| %>
  <% if @usersmodel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usersmodel.errors.count, "error") %> prohibited this usersmodel from being saved:</h2>

      <ul>
      <% @usersmodel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
