<h1>Listing usersmodels</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Password</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usersmodels.each do |usersmodel| %>
      <tr>
        <td><%= usersmodel.user %></td>
        <td><%= usersmodel.password %></td>
        <td><%= usersmodel.count %></td>
        <td><%= link_to 'Show', usersmodel %></td>
        <td><%= link_to 'Edit', edit_usersmodel_path(usersmodel) %></td>
        <td><%= link_to 'Destroy', usersmodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usersmodel', new_usersmodel_path %>
