<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @usersmodel.user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @usersmodel.password %>
</p>

<p>
  <strong>Count:</strong>
  <%= @usersmodel.count %>
</p>

<%= link_to 'Edit', edit_usersmodel_path(@usersmodel) %> |
<%= link_to 'Back', usersmodels_path %>
